 ***Loan approval***

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix,roc_auc_score,accuracy_score, confusion_matrix, classification_report

In [12]:
loan_df=pd.read_csv("loan_approval_dataset (1).csv")
loan_df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [13]:
loan_df.drop('loan_id',axis=1,inplace=True)
loan_df.rename(columns={' no_of_dependents':'No_of_dependents',' self_employed':'Self_Employed',' loan_term':'Loan_Term',' education':'Education',' income_annum':'Income_annum',' loan_amount':'Loan_Amount',' cibil_score':'Cibil_Score',' residential_assets_value':'Residential_Assets_Value',' commercial_assets_value':'Commercial_Assets_Value',' luxury_assets_value':'Luxury_Assets_Value',' bank_asset_value':'Bank_Asset_Value',' loan_status':'Loan_Status'},inplace=True)
from sklearn import preprocessing 
    
# label_encoder object knows how  
# to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
obj = (loan_df.dtypes == 'object') 
for col in list(obj[obj].index): 
  loan_df[col] = label_encoder.fit_transform(loan_df[col])
# To find the number of columns with 
# datatype==object 
obj = (loan_df.dtypes == 'object') 
print("Categorical variables:",len(list(obj[obj].index)))
loan_dropped_df=loan_df.drop(['Residential_Assets_Value','Commercial_Assets_Value','Luxury_Assets_Value','Income_annum','Bank_Asset_Value'],axis=1)
X=loan_dropped_df.drop('Loan_Status',axis=1)
y=loan_dropped_df.Loan_Status

Categorical variables: 0

In [14]:
loan_dropped_df.head()#0 for approved and 1 for rejected

,No_of_dependents,Education,Self_Employed,Loan_Amount,Loan_Term,Cibil_Score,Loan_Status
0,2,0,0,29900000,12,778,0
1,0,1,1,12200000,8,417,1
2,3,0,0,29700000,20,506,1
3,3,0,0,30700000,8,467,1
4,5,1,1,24200000,20,382,1

In [15]:
loan_dropped_df.columns

Index(['No_of_dependents', 'Education', 'Self_Employed', 'Loan_Amount',
       'Loan_Term', 'Cibil_Score', 'Loan_Status'],
      dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier 
rfc = RandomForestClassifier(n_estimators = 7, 
                             criterion = 'entropy', 
                             random_state =7) 
rfc.fit(X_train,y_train)
y_pred_rfc=rfc.predict(X_test)
print(classification_report(y_test, y_pred_rfc))

In [ ]:
cmf_rfc=confusion_matrix(y_test, y_pred_rfc)
sns.heatmap(cmf_rfc,annot=True,fmt='d')
auc_score = roc_auc_score(y_test, y_pred_rfc)#calculating auc score
print("AUC Score on Test Data:", auc_score)

In [ ]:
# pickling the model 
import pickle 
pickle_out = open("loan_approval_rf.pkl", "wb") 
pickle.dump(rfc, pickle_out) 
pickle_out.close()

In [ ]:
rfc.predict([[0,0,1,12200000,8,417]])